<!DOCTYPE html>
<html>
  <head>
    <title>Initiate a Stripe refund</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <button id="refund-btn">Refund Payment</button>
    <script>
      const refundBtn = document.getElementById('refund-btn');
      const chargeId = '';
      refundBtn.addEventListener('click', async (event) => {
        event.preventDefault();
        try {
          await axios.post({{ refund_service_url|tojson }} + "/api/v1/refunds", {
            order_id: chargeId
          });
        } catch (error) {
          refundBtn.disabled = false;
        }
        
      });
    </script>
  </body>
</html>
