<!DOCTYPE html>
<html>
  <head>
    <title>Initiate a Stripe refund</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <button id="refund-btn">Refund Payment</button>
    <script>
      const refundBtn = document.getElementById('refund-btn');
      const chargeId = '';
      refundBtn.addEventListener('click', async (event) => {
        event.preventDefault();
        try{
          const response = await axios.post("http://localhost:5700/api/v1/refunds", {
            order_id: chargeId
          })
            console.log(response);
          } catch (error) {
            console.log(error);
          }
        
      });
    </script>
  </body>
</html>
